.column {
    width: 30%;
    color: white;
    border-right: 1px solid white;
    height: 100%;
}

.btn {
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    margin: 15px 53px;
}

.btnSelected {
    border-radius: 12px;
    border: white 3px solid;
    padding: 10px;
    cursor: pointer;
    margin: 12px 50px;
}

.lessonsBtn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    animation: typing 3s infinite;
}

.columnRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px;
}

.setUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.btnWrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.btnWrapper div {
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
}

.textAreaWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    font-family:
        Roboto,
        Open Sans,
        Lato,
        sans-serif;
    line-height: 20px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mobileBtnWrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .setUpWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 70%;
    }
}

@keyframes typing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}