.wrapper {
    background: #42454E;
    color: white;
    border-radius: 22px;
    padding: 15px 20px;
    margin: 10px 0 20px 0;
    line-height: 1.5;
    animation: fadeIn 10s ease-in-out;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 5px;
}

.body {
    padding-bottom: 10px;
}

.btn {
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
    background-color: #FFB930;
    color: #282828;
    width: fit-content;
}

.choice {
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #2C2F39;
    border-radius: 22px;
}


@media screen and (max-width: 500px) {
    .wrapper {
        margin-bottom: 10px;
    }
    .title {
        font-size: 20px;
    }
    .body {
        font-size: 16px;
        line-height: 1.3rem;
    }
}