.wrapper {
  background-color: #282828;
  color: white;
  border-top: 0;
  position: relative;
}

.textArea {
  font-family: "Roboto", "Open Sans", "Lato", sans-serif;
  word-wrap: break-word;
  font-size: 16px;
  border-radius: 13px;
  resize: none;
  padding: 9px 50px 9px 13px;
  min-height: 16px;
  border: none;
  color: white;
  background-color: #3c3c43;
  width: 100%;
  word-break: break-word;
  outline: none;
}

.inputBubble {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.choicesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 20px;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
  justify-content: space-evenly;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 16px 1.5rem;
  padding-top: 0;
  gap: 5px;
  padding-top: 20px;
}

.sendButton {
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}

.selectableBtn {
  border-radius: 12px;
  width: fit-content;
  border: white 3px solid;
  padding: 8px 10px;
  cursor: pointer;
}

.selectedBtn {
  border-radius: 12px;
  width: fit-content;
  border: #45C2E9 3px solid;
  padding: 8px 10px;
  cursor: pointer;
  background-color: #343949;
  filter: drop-shadow(0 4px 0 #45C2E9);
}

.hr {
  margin: 20px 16px 0;
  border: #333333 1px solid;
}

.copyText {
  margin: 10px;
  color: black;
  flex: 1;
  word-break: break-word;
}

.copyWrapper {
  border-radius: 13px;
  margin: 0 1.5rem;
  background-color: #e2e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyHeader {
  display: flex;
  padding: 1.5rem 1.5rem 15px;
}

@media screen and (min-width: 800px) {
  .inputWrapper, .choicesWrapper {
    margin-right: calc(20% - 16px);
    margin-left: calc(20% - 16px);
  }
  .textArea {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .copyHeader,
  .copyWrapper {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .copyHeader {
    font-weight: 550;
  }
}

@media screen and (min-width: 400px) {
  .textArea {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .copyHeader,
  .copyWrapper,
  .previewBtn {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .previewBtn {
    font-size: 16px;
  }
}
