.headerWrapper {
    width: 100%;
    background-color: #292929;
    border-bottom: #333333 1px solid;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
    font-size: 15px;
}

.rotate {
    animation: rotate 2.2s linear infinite;
}

.arrow {
    display: inline-block;
}

.arrowRotate {
    transform: rotate(180deg);
}

.moreWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.1rem;
}

.dialogContentWrapper {
    background-color: #B4B4B5;
    padding: 30px 25px;
    font-size: 1.25rem;
    line-height: 1.6rem;
    overscroll-behavior: none;
}

.profileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .profile {
        font-size: 18px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}